$bodyBg: #f3f6fd;
$mainBg: #fcfcfc;
// 
$mainColor: #F98010;
$subColor: #3da9fc;
$txtColor: #333;
$buttonColor: #3b72ff;
$buttonHoverColor: #3364df;
// $purple: #8624db;
// $orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #db190c;
$blue: #0000ff;

$fontFamily: "Poppins", sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5rem;
// 
$sideBarWidth: 200px;

$sideBarLogoHeight: 171px;
$spacing: 12px;
$mobileSpacing: 12px;
$borderRadius: 30px;

$mobile-width: 600px;
// $tablet-width: 1366px;
$tablet-width: 1000px;
